<div class="container">
  <div class="row">
    <div class="col-6">
      <canvas
        id="imageCanvas"
        width="240"
        height="297"
        style="border: 1px solid #d3d3d3;"
      >
        Upload an image here
      </canvas>
    </div>
    <div class="col-6">
      <form>
        <div class="form-group" id="formQuestion">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="questionText" rows="3"></textarea>
        </div>
      </form>
      <button class="btn btn-primary" onclick="loadimage()">Button</button>
    </div>
  </div>
</div>
<script>
  loadimage = function () {
    var c = document.getElementById("imageCanvas");
    var ctx = c.getContext("2d");
    var img = document.getElementById("scream");
    ctx.drawImage(img, 10, 10);
  };
</script>
